.loginpage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.login_left {
  display: flex;

  flex-direction: column;
  padding: 40px;
}
.login_left > .vcetLogo {
  position: absolute;
  margin-top: 70px;
  margin-left: 14.5rem;
  height: 80px;
  object-fit: contain;
}
.login_left > .studentsLogo {
  position: relative;
  height: 900px;
  object-fit: contain;
}

.bg-particles {
  position: "absolute";
  z-index: -1;
  top: 0;
  left: 0;
}
.login_left > h1 {
  font-size: 26px;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
}

.login_right {
  height: 400px;
  width: 300px;
  background-color: black;

  border-radius: 20px;
  padding: 30px;
  margin-right: 100px;
  margin-top: 30px;
}
.login_right > h1 {
  color: white;
  font-size: 23px;
}
.login_right > .G_button {
  height: 50px;

  object-fit: contain;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 50px;
}
